body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.p5Canvas {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;

}